<form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-48">
    <div class="form-field">
        <label htmlFor="name">{{ "app.roles.name" | translate }}</label>

        <input
            id="name"
            pInputText
            type="text"
            formControlName="name"
            [placeholder]="'app.roles.name' | translate"
            (input)="generateCode($event)"
        />

        <app-field-error
            [errors]="f['name'].errors"
            field="name"
        ></app-field-error>
    </div>

    <div class="form-field">
        <label htmlFor="code">{{ "app.roles.code" | translate }}</label>

        <input
            id="code"
            pInputText
            type="text"
            formControlName="code"
            (blur)="onBlurUniqueField('code')"
            [placeholder]="'app.roles.code' | translate"
        />

        <app-field-error
            [errors]="f['code'].errors"
            field="code"
        ></app-field-error>
    </div>

    <div class="form-field">
        <label htmlFor="description">{{
            "app.roles.description" | translate
        }}</label>

        <textarea
            id="description"
            rows="5"
            pInputTextarea
            formControlName="description"
        ></textarea>

        <app-field-error
            [errors]="f['description'].errors"
            field="name"
        ></app-field-error>
    </div>

    <div class="form-field">
        <label htmlFor="enabled">{{ "app.roles.enabled" | translate }}</label>

        <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
    </div>

    <!-- if is view mode -->
    @if(!isViewMode) {
    <div class="w-full text-right">
        <button
            pButton
            icon="fas fa-check"
            class="p-button-success"
            [loading]="saving()"
            loadingIcon="fas fa-spinner"
            [label]="'app.common.save' | translate"
            [disabled]="!form.valid"
        ></button>
    </div>
    }
</form>
