@if (thin()) {
<p-overlayPanel #op [styleClass]="'py-4 pr-4'">
    <ul>
        @for(error of errorsKeys; track $index) { @if(error) {
        <li class="text-danger text-sm">{{ getErrorMessage(error) }}</li>
        }}
    </ul>
</p-overlayPanel>
@if(errorsKeys.length) {
<div class="text-center mt-1">
    <a
        (click)="op.toggle($event)"
        class="text-danger text-xs hover:cursor-pointer hover:text-danger-dark"
    >
        <i class="fas fa-exclamation"></i>
        Error
    </a>
</div>
} } @else { @for(error of errorsKeys; track $index) { @if(error) {
<div class="text-danger">{{ getErrorMessage(error) }}</div>
} } }
