
.sahtoso-info-section {
    width: calc(100% + 3rem );
    height: calc(100vh - 100px);
    // background-image: url("assets/images/cover/cover-2.png");
    // background-attachment: fixed;
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    background: rgba(255, 255, 255, 0.5);
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin: -1rem -1.5rem;

    /* Capa semitransparente blanca */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
        pointer-events: none;
    }

    /* Contenedor principal */
    .sahtoso-main-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        z-index: 1;
    }
}
