<app-body-header
  [breadcrumbs]="breadcrumbItems()"
  [viewButtons]="false"
  [resource]="state.resources.AUDIT"
></app-body-header>

<div class="w-full bg-gray-50 mb-4 h-24 px-4 flex justify-between items-center">
  <p-button (click)="downloadXlsx()">Descargar xlsx</p-button>
</div>

<app-search-bar
  [title]="'app.audit.list' | translate"
  (onSearch)="onSearch($event)"
  placeholder="app.common.searchByIp"
>
  <p-calendar
    [(ngModel)]="dates"
    selectionMode="range"
    dateFormat="dd/mm/yy"
    [showIcon]="true"
    [minDate]="minDate()"
    placeholder="Filtrar por rangos fecha"
    (ngModelChange)="onChangeDates()"
  />

</app-search-bar>
@if(minDate() && maxDate() === null) {
<p class="text-red-500">  Debe seleccionar una fecha de inicio y una fecha de fin. </p>
}
<p-table
  [value]="state.items"
  [paginator]="true"
  [rows]="state.meta.perPage"
  [first]="state.meta.first || 1"
  [rowsPerPageOptions]="[5, 10, 20, 50]"
  dataKey="id"
  [totalRecords]="state.meta.total"
  [lazy]="true"
  [lazyLoadOnInit]="false"
  (onLazyLoad)="loadLazy($event)"
  styleClass="p-datatable-striped"
  [loading]="state.loading"
  [tableStyle]="{ 'min-width': '100%' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 35%">
        {{ "app.audit.description" | translate }}
      </th>
      <th pSortableColumn="action">
        {{ "app.audit.action" | translate }}
        <p-sortIcon field="action"></p-sortIcon>
      </th>
      <th pSortableColumn="recordType">
        {{ "app.audit.urlAddress" | translate }}
        <p-sortIcon field="recordType"></p-sortIcon>
      </th>
      <th>
        {{ "app.audit.ipAddress" | translate }}
      </th>
      <th pSortableColumn="createdAt" style="width: 12%">
        {{ "app.audit.createdAt" | translate }}
        <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th pSortableColumn="user.firstName">
        {{ "app.audit.userId" | translate }}
        <p-sortIcon field="user.firstName"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.description }}</td>
      <td>
        <span class="uppercase">{{
          getKeyTranslatedAction(item.action) | translate
        }}</span>
      </td>
      <td>{{ item.urlAddress | translate }}</td>
      <td>{{ item.ipAddress }}</td>

      <td>
        {{ item.createdAt | date : "dd/MM/yyyy HH:mm" }}
      </td>
      <td>@if(item.user){
        {{ item.user.firstName }} {{ item.user.paternalLastName }}
        }@else if(item.officer){
        {{ item.officer.firstName }} {{ item.officer.paternalLastName }}
        }
      </td>
    </tr>
  </ng-template>
</p-table>
