<div class="card mt-8">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-2 md:px-48 grid grid-cols-1 md:grid-cols-2 gap-4">

        <div class="form-field">
            <label htmlFor="name">{{'app.project.name' | translate }}</label>

            <input id="name" pInputText type="text" formControlName="name"
                [placeholder]="'app.project.name' | translate" />

            <app-field-error [errors]="f['name'].errors" field="name"></app-field-error>
        </div>

        <div class="form-field">
            <label htmlFor="userId">{{
                "app.project.userId"
                | translate
                }}</label>
            <p-dropdown id="userId" formControlName="userId" [options]="userType()"
                optionLabel="firstName" optionValue="id" [style]="{ width: '100%' }"
                [placeholder]="'app.common.select' | translate" [filter]="true" filterBy="firstName"
                [showClear]="true" (onFilter)="filterUserType($event)">
                <ng-template let-item pTemplate="selectedItem">
                    {{ item.firstName }} {{ item.paternalLastName }} {{ item.maternalLastName }}
                    <div class="text-xs text-gray-600">
                        rol: Recolector
                    </div>
                </ng-template>
                <ng-template pTemplate="item" let-item>
                    <div class="whitespace-nowrap">
                    {{ item.firstName }} {{ item.paternalLastName }} {{ item.maternalLastName }}
                    <div class="text-xs text-gray-600">
                        rol: Recolector
                    </div>
                    </div>
                </ng-template>
            </p-dropdown>

            <app-field-error [errors]="f['userId'].errors" field="userId">
            </app-field-error>
        </div>

        <div class="form-field">
            <label htmlFor="enabled">{{
                'app.project.enabled' | translate
                }}</label>

            <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
        </div>


        <!-- if is view mode -->
        @if (!isViewMode) {
        <div class="w-full text-right mt-6 col-span-2">
            <button pButton icon="fas fa-check" [loading]="saving()" loadingIcon="fas fa-spinner"
                class="p-button-success w-full md:w-fit" [label]="'app.common.save' | translate"
                [disabled]="!form.valid"></button>
        </div>
        }
    </form>
</div>
