<div class="mx-auto mx-screen-xl">
    <div class="grid grid-cols-4 gap-4">
        @for (item of state.items; track $index;) {
            <div class="bg-white rounded-lg shadow-md max-w-80 h-64 overflow-auto relative">
                <div class="p-4 relative h-full leading-relaxed">
                    <h2 class="text-xl font-bold line-clamp-1 mb-0">
                        <a [routerLink]="[item.uuid]">{{ item.name }}</a>
                    </h2>

                    <div class="w-full">
                        <!-- <span class="text-sm text-gray-500">{{ item.description | truncateText: 150 }}</span> -->
                    </div>

                    <div
                        class="text-gray-400 mt-2 text-sm absolute left-4 bottom-3"
                    >
                        <span>{{ item.createdAt | date : 'medium' }}</span>
                    </div>
                    <div class="absolute right-0 bottom-0">
                        <app-projects-options [item]="item"></app-projects-options>
                    </div>
                </div>
            </div>
        } @empty {
            <div class="col-span-4">
                <app-items-not-found></app-items-not-found>
            </div>
        }
    </div>

    <app-cards-paginator
        [hasNextPage]="state.hasNextPage"
        [hasPreviousPage]="state.hasPreviousPage"
        (onNext)="onNextPage($event)"
        (onPrevious)="onPreviousPage($event)"
    ></app-cards-paginator>
</div>
