<div class="login-page">
  <div class="login-box">

    <h1 class="login-title">Recuperar Contraseña</h1>

    <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">

      <p class="helper-text">
        Ingrese su correo electrónico para recuperar su contraseña.
      </p>

      <!-- Email -->
      <div class="form-group">
        <label class="form-label" for="email">Correo</label>

        <div class="form-item">
          <input
            pInputText
            id="email"
            type="email"
            placeholder="correo@ejemplo.com"
            formControlName="email"
            class="form-input"
          />
        </div>

        <div class="error-message">
          <p *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">*Campo requerido</p>
          <p *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">*Correo inválido</p>
        </div>
      </div>

      <!-- Botones -->
      <div class="actions">
        <a class="btn-secondary" [routerLink]="['/auth/login']">
          Cancelar
        </a>

        <button
          type="button"
          class="btn-primary"
          (click)="onSubmit()"
          [disabled]="!forgotPasswordForm.valid || loading()"
        >
          {{ loading() ? 'Enviando...' : 'Enviar' }}
        </button>
      </div>

      @if(responseMessage()) {
        <p class="response-message" [class.is-error]="!success()" [class.is-success]="success()">
          {{ responseMessage() }}
        </p>
        <p class="attempts-message">
          {{ attemptsMessage() }}
        </p>
      }

    </form>
  </div>
</div>
