<div class="login-page">
  <div class="login-box">

    <h1 class="login-title">{{ "app.auth.forgotPassword.title" | translate }}</h1>

    <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">

      <p class="helper-text">
        {{ "app.auth.forgotPassword.helperText" | translate }}
      </p>

      <!-- Email -->
      <div class="form-group">
        <label class="form-label" for="email">{{ "app.auth.forgotPassword.emailLabel" | translate }}</label>

        <div class="form-item">
          <input
            pInputText
            id="email"
            type="email"
            [placeholder]="'app.auth.forgotPassword.emailPlaceholder' | translate"
            formControlName="email"
            class="form-input"
          />
        </div>

        <div class="error-message">
          <p *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">*{{ "app.common.errors.required" | translate }}</p>
          <p *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">*{{ "app.common.errors.email" | translate }}</p>
        </div>
      </div>

      <!-- Botones -->
      <div class="actions">
        <a class="btn-secondary" [routerLink]="['/auth/login']">
          {{ "app.common.cancel" | translate }}
        </a>

        <button
          type="button"
          class="btn-primary"
          (click)="onSubmit()"
          [disabled]="!forgotPasswordForm.valid || loading()"
        >
          {{ (loading() ? "app.auth.forgotPassword.submitting" : "app.auth.forgotPassword.submit") | translate }}
        </button>
      </div>

      @if(responseMessageKey(); as messageKey) {
        <p class="response-message" [class.is-error]="!success()" [class.is-success]="success()">
          {{ messageKey | translate }}
        </p>
      }

    </form>
  </div>
</div>
