@if(preview()) { @if (isImage(file().contentType)) {
<div>
    <p-image
        [src]="service.getFileUrl(file().key)"
        alt="NA"
        height="50"
        [preview]="true"
    ></p-image>
</div>

} @else if(isPDF(file().contentType)) {
<app-pdf-previewer
    [fileUrl]="service.getFileUrl(file().key)"
    [fileDownloadUrl]="service.getFileUrl(file().key, true)"
    [online]="onlinePreview()"
    [showThumbnail]="true"
    [thumbnailWidth]="150"
    [thumbnailHeight]="180"
    [height]="height()"
></app-pdf-previewer>
} @else {
<div>
    <i class="{{ fileIcon(file().contentType) }}" style="font-size: 48px"></i>
</div>
} } @if(!isPDF(file().contentType) || (!preview() && isPDF(file().contentType))) {
<div class="max-w-32 mx-auto">
    <div class="text-xs italic truncate my-1" [title]="file().filename">
        <a target="_blank" [href]="service.getFileUrl(file().key)">
            {{ file().filename }}
        </a>
    </div>
</div>
}
