.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #7f2b2b;
  font-weight: bold;
}


.markdown-body p {
  color: #663f3f;
  line-height: 1.6;
}


.markdown-body {
  background-color: #547a64;
  padding: 20px;
  border-radius: 8px;
}


.markdown-body code {
  background-color: #f4f4f4;
  padding: 4px 8px;
  border-radius: 4px;
}

.markdown-body blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  color: #d9baba;
}


.markdown-body h1 {
  color: #2a9d8f;
}

.markdown-body h2 {
  color: #e76f51;
}

.markdown-body h3 {
  color: #f5f6f6;
}
