<app-body-header
    [breadcrumbs]="breadcrumbItems()"
    (onViewChange)="onViewChange($event)"
    [resource]="state.resources.GEOGRAPHIC_LAYER"
></app-body-header>

<app-tabs-actions
    [options]="tabs()"
    [resource]="state.resources.GEOGRAPHIC_LAYER"
    [newLabel]="'app.theme.create' | translate"
    [newPath]="'/admin/theme/create'"
    (onChange)="onChangeTab($event)"
    (onReload)="onReload($event)"
></app-tabs-actions>

<app-search-bar
    [title]="'app.theme.list' | translate"
    (onSearch)="onSearch($event)"
></app-search-bar>

@if(isGridView) {
    <app-theme-cards></app-theme-cards>
}@else {
    <app-theme-table></app-theme-table>
}
