<p-table
    [value]="state.items"
    [paginator]="true"
    [rows]="state.meta.perPage"
    [first]="state.meta.first || 1"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    dataKey="id"
    [totalRecords]="state.meta.total"
    [lazy]="true"
    [lazyLoadOnInit]="false"
    (onLazyLoad)="loadLazy($event)"
    styleClass="p-datatable-striped"
    [loading]="state.loading"
    [tableStyle]="{ 'min-width': '100%' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" style="width: 40%">
                {{ 'app.project.name' | translate }}
                <p-sortIcon field="name"></p-sortIcon>
            </th>

            <th style="width: 25%">
                {{ 'app.common.status.title' | translate }}
            </th>

            <th style="width: 10%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>
                <a [routerLink]="['/admin', 'projects', item.uuid]">
                    {{item.name}}
                </a>
                <div class="text-gray-500 text-sm break-words text-justify">
                    {{ item.description | truncateText: 150 }}
                </div>
            </td>
            <td>
                @if (item.enabled) {
                    <p-chip [label]="'app.common.status.active' | translate" styleClass="bg-success-soft"></p-chip>
                } @else {
                    <p-chip [label]="'app.common.status.inactive' | translate" styleClass="bg-danger-soft"></p-chip>
                }

            </td>
            <td>
                <div class="w-full text-right">
                    <app-projects-options [item]="item"></app-projects-options>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="100%">
                <app-items-not-found></app-items-not-found>
            </td>
        </tr>
    </ng-template>
</p-table>
