<app-body-header
    [breadcrumbs]="breadcrumbItems()"
    (onViewChange)="onViewChange($event)"
    [resource]="state.resources.PROJECT"
></app-body-header>

<app-tabs-actions
    [backAction]="true"
    [title]="'Proyecto: ' + ( current().name)"
    [options]="[]"
    [resource]="state.resources.PROJECT"
    [newLabel]="'app.community.new' | translate"
    [newPath]="'/admin/projects/communities/' + current().uuid + '/' + current().id + '/new' "
    [backPath]="backPath"
    (onReload)="onReload($event)"
></app-tabs-actions>

<app-search-bar
    [title]="'app.community.list' | translate"
    (onSearch)="onSearch($event)"
></app-search-bar>

@if(isGridView) {
    <app-communities-cards></app-communities-cards>
}@else {
    <app-communities-table></app-communities-table>
}
