<form
    [formGroup]="passwordForm()"
    (onSubmit)="onSubmit()"
    class="flex flex-col gap-2"
>
    <div class="flex flex-col gap-2 relative">
        <label for="newPassword"> Nueva Contraseña </label>

        <p-password
            id="newPassword"
            [toggleMask]="true"
            [feedback]="false"
            [style]="{ width: '100%', maxWidth: '450px' }"
            inputStyleClass="w-full"
            formControlName="newPassword"
        ></p-password>

        <div class="text-red-600 text-sm">
            @if(newPassword.errors && newPassword.errors['required']) {
            <p>*Campo requerido</p>
            } @if(newPassword.errors && newPassword.errors['minlength']) {
            <p>*Mínimo 8 caracteres</p>
            }
        </div>
    </div>

    <div class="flex flex-col gap-2 relative">
        <label for="confirmNewPassword"> Confirmar nueva Contraseña </label>

        <p-password
            id="confirmNewPassword"
            [toggleMask]="true"
            [feedback]="false"
            [style]="{ width: '100%', maxWidth: '450px' }"
            inputStyleClass="w-full"
            formControlName="confirmPassword"
        ></p-password>

        <div class="text-red-600 text-sm">
            @if(confirmNewPassword.errors &&
            confirmNewPassword.errors['required']) {
            <p>*Campo requerido</p>
            } @if(confirmNewPassword.dirty && confirmNewPassword.errors &&
            confirmNewPassword.errors['passwordMismatch']) {
            <p>*Las contraseñas no coinciden</p>
            }
        </div>
    </div>

    <div class="flex justify-between w-max gap-2">
        <button (click)="close()" type="button" pButton severity="secondary" type="button">
            Cancelar
        </button>

        <button
            [loading]="loading()"
            [disabled]="!passwordForm().valid"
            pButton
            type="button"
            (click)="onSubmit()"
            loadingIcon="fas fa-spinner fa-spin"
        >
            Cambiar
        </button>
    </div>

    @if (success()) {
    <p class="text-success w-max p-1 font-bold">
        Contraseña cambiada exitosamente
    </p>
    }
</form>
