<div [formGroup]="form()" class="grid grid-cols-1 mt-8">
    <div class="form-field">
        <label htmlFor="address">{{ "app.users.roles" | translate }}</label>
        <p-multiSelect
            [options]="stateUsers.roles"
            formControlName="roleIds"
            [(ngModel)]="selectedRoles"
            [defaultLabel]="'app.common.select' | translate"
            optionLabel="name"
            optionValue="id"
            display="chip"
            styleClass="w-full"
            (onChange)="onRolesChange($event)"
            (onFilter)="filterRoles($event)"
        >
            <ng-template let-item pTemplate="item">
                <div class="whitespace-break-spaces min-w-52">
                    <div>{{ item.name }}</div>
                    <div class="text-sm text-gray-500">
                        {{ item.description }}
                    </div>
                </div>
            </ng-template>
        </p-multiSelect>

        <app-field-error [errors]="f['roleIds'].errors" field="roleIds">
        </app-field-error>
        <div class="h-80 w-full overflow-auto">
            @if(currentRole().length > 0) {
            <ul>
                @for (role of currentRole(); track role.id) {
                <li class="mt-2">
                    <div class="font-semibold">{{ role?.name }}</div>
                    <ul>
                        @if(role.permissions.length > 0) { @for(permission of
                        role.permissions; track permission.resource.id) {
                        <li>
                            <div class="text-base">
                                {{ permission.resource.name }}
                            </div>
                            <ul>
                                <li>
                                    @if (permission.canRead) {
                                    <span class="p-tag p-tag-info ml-1">
                                        {{
                                            "app.roles.permissions.canRead"
                                                | translate
                                        }}
                                    </span>
                                    } @if (permission.canCreate) {
                                    <span class="p-tag p-tag-success ml-1">
                                        {{
                                            "app.roles.permissions.canCreate"
                                                | translate
                                        }}
                                    </span>
                                    } @if (permission.canUpdate) {
                                    <span class="p-tag p-tag-warning ml-1">
                                        {{
                                            "app.roles.permissions.canUpdate"
                                                | translate
                                        }}
                                    </span>
                                    } @if (permission.canDelete) {
                                    <span class="p-tag p-tag-danger ml-1">
                                        {{
                                            "app.roles.permissions.canDelete"
                                                | translate
                                        }}
                                    </span>
                                    } @if (permission.canManage) {
                                    <span class="p-tag bg-green-800 ml-1">
                                        {{
                                            "app.roles.permissions.canManage"
                                                | translate
                                        }}
                                    </span>
                                    } @if (permission.canMaster) {
                                    <span class="p-tag bg-brand ml-1">
                                        {{
                                            "app.roles.permissions.canMaster"
                                                | translate
                                        }}
                                    </span>
                                    } @if (permission.canApprove) {
                                    <span class="p-tag bg-blue-950 ml-1">
                                        {{
                                            "app.roles.permissions.canApprove"
                                                | translate
                                        }}
                                    </span>
                                    }
                                </li>
                            </ul>
                        </li>
                        } } @else {
                        <span class="text-gray-500 italic"
                            >No tiene permisos asignados</span
                        >
                        }
                    </ul>
                </li>
                }
            </ul>
            }
        </div>
    </div>
</div>
