::ng-deep .file-uploader {
    .p-messages:not(.custom-messages) {
        display: none;
    }

    .p-message .p-message-wrapper {
        padding: 0.5rem 0.5rem;
    }

    .p-inline-message {
        justify-content: start;
        .p-inline-message-text {
            @apply text-sm;
        }
    }
    .p-fileupload-content {
        @apply overflow-hidden;
    }
    .horizontal {
        .p-fileupload {
            @apply flex justify-between items-center;
            .p-fileupload-content {
                @apply flex-1 p-0 border-0;
                .container {
                    @apply flex gap-2 items-center flex-row-reverse border border-dashed border-gray-300;

                    &.drag-drop {
                        @apply cursor-pointer transition-transform duration-200 ease-in-out hover:scale-105 hover:shadow-sm;
                    }
                    .file-section {
                        @apply text-right w-fit;
                    }
                    .info-text {
                        @apply text-left;
                    }

                    .thumbail {
                        @apply flex justify-between items-center flex-row-reverse gap-2;
                    }
                }
            }

            .p-fileupload-buttonbar {
                padding: 0.5rem;
                .p-button-label {
                    @apply text-xs;
                }
            }
        }
    }

    .vertical {
        .p-fileupload {
            .p-fileupload-buttonbar {
                padding: 0.5rem;
                .p-button-label {
                    @apply text-xs;
                }
            }
        }
    }

    .p-fileupload-buttonbar {
        min-height: 55px;
    }
    .uploading .p-fileupload-buttonbar .p-button {
        display: none;
    }
}
