::ng-deep .sidebar-button {
    .p-button {
        color: #28406e;
        background: #ffffff;
        border: 1px solid #28406e;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        transition: none;
        outline-color: transparent;
        &:hover {
            background: rgb(218, 222, 230);
            border: 1px solid var(--primary-dark);
        }
    }
}
