<div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="px-5">

        <div class="">
            <app-user-form-personal-info
                [form]="form"
                [mode]="mode()"
            ></app-user-form-personal-info>
        </div>

        <div class="buttons flex justify-between">
            @if (!isViewMode ) {
            <div class="text-right">
                <button
                    pButton
                    icon="fas fa-check"
                    class="p-button-success"
                    [loading]="saving()"
                    loadingIcon="fas fa-spinner"
                    [label]="'app.common.save' | translate"
                    [disabled]="!form.valid"
                ></button>
            </div>
            }
        </div>
    </form>
</div>
