<div [formGroup]="form()" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
    <div class="form-field">
        <label htmlFor="firstName">{{
            "app.users.firstName" | translate
        }}</label>

        <input
            pInputText
            type="text"
            formControlName="firstName"
            [placeholder]="'app.users.firstName' | translate"
        />

        <app-field-error
            [errors]="f['firstName'].errors"
            field="firstName"
        ></app-field-error>
    </div>

    <div class="form-field">
        <label htmlFor="paternalLastName">{{
            "app.users.paternalLastName" | translate
        }}</label>

        <input
            pInputText
            type="text"
            formControlName="paternalLastName"
            [placeholder]="'app.users.paternalLastName' | translate"
        />
        <app-field-error
            [errors]="f['paternalLastName'].errors"
            field="paternalLastName"
        ></app-field-error>
    </div>

    <div class="form-field">
        <label htmlFor="maternalLastName">{{
            "app.users.maternalLastName" | translate
        }}</label>

        <input
            pInputText
            type="text"
            formControlName="maternalLastName"
            [placeholder]="'app.users.maternalLastName' | translate"
        />
        <app-field-error
            [errors]="f['maternalLastName'].errors"
            field="maternalLastName"
        ></app-field-error>
    </div>

    <div></div>

    <div class="form-field">
        <label htmlFor="username">{{ "app.users.username" | translate }}</label>

        <input
            pInputText
            type="text"
            formControlName="username"
            [placeholder]="'app.users.username' | translate"
            (blur)="onBlurUsername()"
        />

        <app-field-error
            [errors]="f['username'].errors"
            [errorMsg]="'app.common.errors.keyNotPermitted' | translate"
            field="username"
        ></app-field-error>
    </div>

    <div class="form-field">
        <label htmlFor="email">{{ "app.users.email" | translate }}</label>

        <input
            pInputText
            type="text"
            formControlName="email"
            [placeholder]="'app.users.email' | translate"
            (blur)="onBlurEmail()"
        />

        <app-field-error
            [errors]="f['email'].errors"
            field="email"
        ></app-field-error>
    </div>
    <div class="form-field">
        <label htmlFor="roles">{{ "app.users.roles" | translate }}</label>
        <p-multiSelect
            [options]="stateUsers.roles"
            formControlName="roleIds"
            [(ngModel)]="selectedRoles"
            [defaultLabel]="'app.common.select' | translate"
            optionLabel="name"
            optionValue="id"
            display="chip"
            styleClass="w-full"
            (onChange)="onRolesChange($event)"
            (onFilter)="filterRoles($event)"
            [filter]="false"
        >
            <ng-template let-item pTemplate="item">
                <div class="whitespace-break-spaces min-w-52">
                    <div>{{ item.name }}</div>
                    <div class="text-sm text-gray-500">
                        {{ item.description }}
                    </div>
                </div>
            </ng-template>
        </p-multiSelect>

        <app-field-error [errors]="f['roleIds'].errors" field="roleIds">
        </app-field-error>

    </div>

    <div class="form-field">
        <label htmlFor="enabled">{{ "app.users.enabled" | translate }}</label>

        <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
    </div>
</div>
