<p-dialog
    [visible]="visible()"
    (visibleChange)="!$event && close()"
    [modal]="true"
    [style]="{ width: '28rem' }"
    [breakpoints]="{ '640px': '95vw' }"
    [draggable]="false"
    [header]="'app.products.changeCode.title' | translate"
>
    @if (product()) {
    <p class="text-sm text-gray-500 mb-3">{{ product()!.name }}</p>
    <app-product-code-picker
        (resolvedChange)="resolvedCode.set($event)"
    ></app-product-code-picker>
    }

    <ng-template pTemplate="footer">
        <button
            pButton
            type="button"
            class="p-button-secondary"
            [label]="'app.common.cancel' | translate"
            (click)="close()"
        ></button>
        <button
            pButton
            type="button"
            [label]="'app.products.changeCode.action' | translate"
            [loading]="saving()"
            [disabled]="!resolvedCode()"
            (click)="submit()"
        ></button>
    </ng-template>
</p-dialog>
